<div class = "jumbotron text-center">
    <h1>Welcome to Dev Match</h1>
    <h3>A members site where entrepreneuers can meet developers.</h3>
</div>
<h2 class ="text-center"><span class="label label-info">Coming soon...</span></h2>
