.job-title-icon{
  width: 30px;
  height: 30px;
  border: 2px #000 solid;
  display: inline-block;
  border-radius: 4px;
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff;
  text-align: center;
}

.row.profile-block{
    h3{
        margin-top: 0;
    }
    .profile-description, .profile-contact{
        color: #fff;
    }
    .profile-description{
        background-color: #5cb85c;
        border-color: #4cae4c;
    }
    .profile-contact{
        background-color: #31b0d5;
        border-color: #269abc;
    }
    .profile-image img{
        border-radius: 50%;
        box-shadow: 0px 6px 4px 0px rgba(50, 50, 50, 0.75);
    }
}

.profile-image img{
    height: 150px;
    width: 150px;
}

.well.white-bg{
    background: #C3BABA;
}

/* Users Index Page Styles */
.user-index-avatar{
    border-radius: 50%;
}